{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">是否加积分：</td> 
					<td><?php echo getFieldVal($info["points"],"是|1|success,否|0|danger");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">反馈内容：</td> 
					<td>{$info.body}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
