{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='config_member_integer_id' id='config_member_integer_id' value="{$info.config_member_integer_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">等级：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="level" value="{$info.level}" name="level" class="form-control" placeholder="请输入等级">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">积分下限：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="min" value="{$info.min}" name="min" class="form-control" placeholder="请输入积分下限">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">积分上限：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="max" value="{$info.max}" name="max" class="form-control" placeholder="请输入积分上限">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">文字描述：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="content" value="{$info.content}" name="content" class="form-control" placeholder="请输入文字描述">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sort" value="{$info.sort}" name="sort" class="form-control" placeholder="请输入排序">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('config_member_integer_id').set('level').set('min').set('max').set('content').set('sort');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Integer.ConfigMemberInteger/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
