{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">标题：</td> 
					<td>{$info.title}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">所属分类：</td> 
					<td>{$info.community_cate_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">分类名称：</td> 
					<td>{$info.cate_name}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">标签：</td> 
					<td>{$info.tags}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">内容：</td> 
					<td>{$info.content}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">图片上传：</td> 
					<td>
						<ul>
						<?php $picsList = json_decode(html_out($info["pics"]),true);?>
						{foreach name="picsList" id="vo"}
						<li style="float:left; margin-bottom:2px; margin-right:2px;"><a href="javascript:void(0)" onclick="openImg('{$vo.url}')"><img src="{$vo.url}" height="75"></a></li>
						{/foreach}
						</ul>
</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">member_id：</td> 
					<td>{$info.member_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">点赞数量：</td> 
					<td>{$info.like_sum}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">评论数量：</td> 
					<td>{$info.comment_sum}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">浏览数量：</td> 
					<td>{$info.see_sum}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">审核状态：</td> 
					<td><?php echo getFieldVal($info["auth_status"],"通过|1|success,未通过|0|danger,未审核|2|warning");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">审核消息：</td> 
					<td>{$info.auth_msg}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">状态：</td> 
					<td><?php echo getFieldVal($info["status"],"开启|1,关闭|0");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">排序：</td> 
					<td>{$info.sort}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">创建时间：</td> 
					<td>{if $info.create_time}{$info.create_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">是否推荐：</td> 
					<td><?php echo getFieldVal($info["is_re"],"是|1|success,否|0|danger");?></td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
