{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='config_integer_id' id='config_integer_id' value="{$info.config_integer_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">增长积分：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="add_integer" value="{$info.add_integer}" name="add_integer" class="form-control" placeholder="请输入增长积分">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">完成数量：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="finish_sum" value="{$info.finish_sum}" name="finish_sum" class="form-control" placeholder="请输入完成数量">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sort" value="{$info.sort}" name="sort" class="form-control" placeholder="请输入排序">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">是否一次性：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['is_once'])){ $info['is_once'] = 0; }; ?>
							<input name="is_once" value="1" type="radio" {if condition="$info.is_once eq '1'"}checked{/if} title="开启">
							<input name="is_once" value="0" type="radio" {if condition="$info.is_once eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('config_integer_id').set('add_integer').set('finish_sum').set('sort');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var is_once = $("input[name = 'is_once']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Integer.ConfigInteger/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('is_once',is_once);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
