@font-face {
  font-family: "iconfont"; /* Project id 2192985 */
  src: url('./static/fonts/iconfont.woff2?t=1622640597805') format('woff2'),
       url('./static/fonts/iconfont.woff?t=1622640597805') format('woff'),
       url('./static/fonts/iconfont.ttf?t=1622640597805') format('truetype');
}

.iconfont,[class^='icon'],[class*=' icon']  {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondanseyuandian:before {
  content: "\e62a";
}

.iconxiala:before {
  content: "\e682";
}

.iconxiangshangjiantou:before {
  content: "\eb1f";
}

.icontubiao09:before {
  content: "\e609";
}

.icontriangle-right:before {
  content: "\e62c";
}

.iconjia:before {
  content: "\e641";
}

.iconarrow-right-copy-copy:before {
  content: "\e603";
}

.iconyanjing:before {
  content: "\e661";
}

.iconxiazai6:before {
  content: "\e606";
}

.icontianjia:before {
  content: "\e632";
}

.iconzhanghu:before {
  content: "\e62b";
}

.iconicon_notice:before {
  content: "\e605";
}

.iconxiangji:before {
  content: "\e7ba";
}

.iconshanchu:before {
  content: "\e63c";
}

.icondianzan:before {
  content: "\e668";
}

.iconnice-line:before {
  content: "\e639";
}

.iconguanbi:before {
  content: "\e608";
}

.iconweibiaoti--:before {
  content: "\e617";
}

.iconmima:before {
  content: "\e66c";
}

.iconshoucang:before {
  content: "\e618";
}

.iconpinglun:before {
  content: "\e60a";
}

.iconsousuo:before {
  content: "\e62d";
}

.icontupian:before {
  content: "\e73a";
}

.iconshezhi:before {
  content: "\e60d";
}

.iconshumiao:before {
  content: "\e6e8";
}

.icontianjia1:before {
  content: "\e60b";
}

